.lista-marca-box{

	.theme-white label.label-radio input[type=checkbox]:checked~.item-inner, label.label-radio input[type=radio]:checked~.item-inner{
		background-color: #c7c7cc!important;
	}

	.navbar{
		background-color: #333538;
		color: #fff;

		.center{
			width: 30%;
			font-weight: 400!important;
		}

		&:after{
			background: transparent;
		}
	}

	.page-content{

		ul{
			
			li{

				&:first-child{
					border-top: 1px solid #e4e3e6;
				}

				&:last-child{
					border-bottom: 1px solid #e4e3e6;
				}
			}
		}

		.brands-list-content{

			.item-content{
				padding: 0!important;
			}

			.item-inner{
				padding: 0 0 0 15px;
			}

		}

	}
}
